{% extends 'base.html' %}

{% block styles %}
  {{ super() }}
  {% include 'datatable-styles.html' %}
{% endblock styles %}

{% block content %}

  {{ super() }}

  {% from 'args-table.html' import args_table %}
  {% from 'caption.html' import caption %}
  {% from 'content-grid.html' import content_grid %}
  {% from 'metadata.html' import list_metadata %}
  {% from 'raster-plot-img.html' import raster_plot_img %}
  {% from 'wide-table.html' import wide_table %}

  <h2 class="section-header">Results</h2>


  {{ accordion_section(
    'Primary Outputs',
    content_grid([
      (caption(raster_group_caption, pre_caption=True), 100),
      (raster_plot_img(outputs_img_src, 'Primary Outputs'), 100),
      (caption(outputs_caption, definition_list=True), 100)
    ])
  )}}

  {% if args_dict.get('birb_population_density_table')%}
    {{ accordion_section(
      'Birb Group Outputs',
      content_grid([
        (raster_plot_img(birb_group_img_src, 'Birb Group Outputs'), 100),
        (caption(birb_group_caption, definition_list=True), 100)
      ])
    )}}
  {% endif %}
  {% if args_dict.get('aoi_path')%}
    {{ accordion_section(
      'Aggregated Vector Outputs',
      content_grid([
        ('<div id="Aggregated_Results_Plots"></div>', 100),
        (caption(vector_plot_caption, agg_results_map_source_list), 100)
      ])
    ) }}
  {% endif %}

  {{ accordion_section(
    'Output Raster Stats',
    content_grid([
      (stats_table_note, 100),
      (wide_table(
        output_raster_stats_table | safe,
        font_size_px=16
      ), 100)
    ])
  )}}

  <h2 class="section-header">Inputs</h2>

  {% if args_dict != None %}
    {{ accordion_section(
      'Arguments',
      args_table(args_dict)
    )}}
  {% endif %}

  {{ accordion_section(
    'Land Use/Land Cover Input',
    content_grid([
      (caption(raster_group_caption, pre_caption=True), 100),
      (raster_plot_img(lulc_img_src, 'LULC Input'), 60),
      (wide_table(lulc_legend_html | safe), 40),
      (caption(lulc_caption, definition_list=True), 100),
    ])
  )}}

  {{ accordion_section(
    'Input Raster Stats',
    content_grid([
      (stats_table_note, 100),
      (wide_table(
        input_raster_stats_table | safe,
        font_size_px=16
      ), 100)
    ])
  )}}

  <h2 class="section-header">Metadata</h2>

  {{
    accordion_section(
      'Output Filenames and Descriptions',
      list_metadata(model_spec_outputs),
      expanded=False
    )
  }}

{% endblock content %}


{% from 'vegalite-plot.html' import embed_vega %}

{% block scripts %}
  {{ super() }}
  {% include 'datatable-js.html' %}
  {% include "vega-dependencies.html" %}
  {% include 'vega-embed-js.html' %}
  {% set chart_spec_id_list = [(agg_results_json, 'Aggregated_Results_Plots')] %}
  {{ embed_vega(chart_spec_id_list) }}
{% endblock scripts %}
